apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: saad466/mern-devops-app-backend:latest
        env:
        - name: MONGO_URL
          value: mongodb://mongo:27017/students
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  type: ClusterIP   # keeps it internal to the cluster
  ports:
  - port: 5000       # service port
    targetPort: 5000 # container port
  selector:
    app: backend
